<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <img src="assets/logo.png" alt="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/Imagem do WhatsApp de 2024-04-28 à(s) 23.48.47_b95ff209.jpg" />
      <ion-card-header>
        <ion-card-title>Lucas Daim Marconi Esteves</ion-card-title>
        <ion-card-subtitle>ADS0301M</ion-card-subtitle>
        <ion-card-subtitle>22201300</ion-card-subtitle>
      </ion-card-header>
    
    </ion-card>
  </div>
</ion-content>
